html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.navbar-link {
  color: white;
  font-weight: bolder;
}
.bg-dark {
  background: transparent !important;
}
.bg-dark.scrolled{
  background: rgba(0, 0, 0, 0.8) !important;
}


.carousel-caption{
    height:  98vh;
    right: 59%;
    color: white;
}
h3 {
  color: white;
}
#mainpage {
  background-image: url(../img/background02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 

}

#ca{
    border: gray solid 2px;
    border-radius: 0px;
    background-color:ghostwhite;
    height: 220px;
    
}
a{
    text-decoration: none;
}
/* #features {
  background-image: url(/img/resource07.jpg);
  background-position: center;
} */
 #resources{
     background-image: url("../img/reso.png");
     background-size: cover;
 }
 #events{
     background-image: url("../img/events.jpg");
     background-size: cover;
 }
 #gear{
     background-image: url("../img/gear.jpg");
     background-size: cover;      
 }
a{
    text-decoration: none;
}

#team {
    font-family: 'Love Ya Like A Sister', cursive;  padding-top: 20px;
    padding-top: 20px;
    color: white;
  }
  
  .team-overlay {
    height: inherit;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.7);
  }
  h1,h2 {text-align: center;}
  

  .resources-overlay {
      background-color:rgba(0, 0, 0, 0.8);
  }
  .

  a.figure-link {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;
  }
  .card {
      margin: 25px;
  }

  //about us styling

#about-us.p{
  color: white !important;
  text-align: center;
  
}
.about-overlay {
  height: inherit;
  width: inherit;
  background-color: rgba(0, 0, 0, 0.7);
}
.about-section{
  color: white;
}

  
  
  h1 {
    text-align: center;
    color: white;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
  }
  .footer__social{
    text-align: center;
  }
  form{
    text-align: center;
  }
  .footer{
    background-color: rgba(0, 0, 0, 0.7)
  }

  .navbar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8 );
    padding: 0px 0px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
  }
  
  .navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .navbar #logo {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
    
  }
  
  .navbar a:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: black;
  }
  
  .navbar a.active {
    
    color: white;
  }
  

 
